/*CSS for createAccount.html*/

/* BUTTONS */
#createAccountBtn{
    background-color: green;
}

#createAccountBtn:hover{
    background-color: #3fd923;
}

button {
    display: block;
    margin: 0.8em auto;
    padding: 0.4em 0 0.4em 0;
    width:220px;
    font-size: 16px;
    color:black;
    border: 0.1em solid;
}

button:active{
    box-shadow: inset -2px -2px 3px #808080,
    inset 2px 2px 3px #808080;
}

/* BUTTONS END */
footer {
    padding: 20px;
}

.logo {
    padding-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: auto;
}

/*
a:active {
  color: yellow;
}
*/

.link:hover {
    color: #3fd923;
}

a {
    color: #00a4e6;
}

/*Help tip Question mark*/

.help-tip{

    margin: auto;
    /*
        position: relative;
        top: -26px;
        right: 18px;*/
    text-align: center;
    background-color: #00a4e6;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    font-size: 14px;
    line-height: 26px;
    cursor: default;
}

.help-tip:before{
    content:'?';
    font-weight: bold;
    color:#fff;
}

.help-tip:hover p{
    display:block;
    transform-origin: 100% 0%;

    -webkit-animation: fadeIn 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out;

}

.help-tip p{    /* The tooltip */
    display: none;
    text-align: left;
    background-color: #1E2021;
    padding: 20px;
    width: 300px;
    position: absolute;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    right: -4px;
    color: #FFF;
    font-size: 13px;
    line-height: 1.4;
}

.help-tip p:before{ /* The pointer of the tooltip */
    position: absolute;
    content: '';
    width:0;
    height: 0;
    border:6px solid transparent;
    border-bottom-color:#1E2021;
    right:10px;
    top:-12px;
}

.help-tip p:after{ /* Prevents the tooltip from being hidden */
    width:100%;
    height:40px;
    content:'';
    position: absolute;
    top:-40px;
    left:0;
}

#specificSize{
    text-align: center;
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* Checkbox (container) */
.checkbox{
    -webkit-appearance:none;
    width: 14px;
    height: 14px;
    display: inline-block;
    background: #FFFFFF;
    border: 1px solid black;
}
.checkbox:after {
    content: "";
    display: inline-block;
    position: relative;
    top: -3px;
    left: 4px;
    width: 3px;
    height: 5px;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    -webkit-transform: rotate(45deg);
}

/* CSS animation */



@-webkit-keyframes fadeIn {
    0% {
        opacity:0;
        transform: scale(0.6);
    }

    100% {
        opacity:100%;
        transform: scale(1);
    }
}

@keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:100%; }
}

/*End of CSS for index.html and createAccount.html*/