html {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    margin: 0;
}

body {
    border: 0;
}

.navbar {
    width: 100%;
    top: 0;
    overflow: hidden;
    background-color: #c0c0c0;
    position: -webkit-sticky;
    position: fixed;
    z-index: 9;
}

#navbar-nav {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}

.navbar a {
    float: left;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar ul {
    margin: 0;
    list-style: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: #3fd923;
}

#navbar-nav > li:nth-child(1) {
    justify-self: start
}

#navbar-nav > li:nth-child(3) {
    justify-self: end
}

#navbar-nav > li:nth-child(3) {
    padding-right: 5px;
}

#taskContainer {
    width: 60%;
    height: 100%;
    margin: auto;
    background-color: #e2e2e2;
    padding: 20px;
    height: 100%;
    padding-top: 100px;
}

.buttons{
    display: inline;
    padding:0;
    margin:0;
    width:50px;
    background-color: transparent;
    box-shadow: none;
    font-size: 1.2em;
}

#addRemove{
    float: right;
}

#title{
    text-align: center;
}

#date {
    text-align: left;
    font-weight: bold;
    padding:20px;
}

#month{
    margin-left:47%;
    font-weight: bold;
    display: inline;
    font-size:1.2em;
}


#days{
    margin-top:40px;
}
.dayText{
    list-style-type: none;
    width:100%;
    overflow: auto;
    margin: 0;
    padding: 0;
}

.dayText li{
    padding: 0;
    margin: 0;
    display: inline;
    width:14.28%;
    text-align: center;
    float:left;
    /*background-color: dodgerblue;*/
}

.today {
    background-color: lightgreen;
    border-radius: 10px;
}

#dayEvents {
    height: auto;
}

#eventForm {
    position: absolute;
    margin-left: 10%;
    margin-top: 10%;
    background-color: grey;
    width: 40%;
    height: auto;
    display: none;
    border: lightgreen 5px solid;
    border-radius: 15px;
}

.close {
    float: right;
    width: 10%;
    box-shadow: 0 0;
    background-color: red;
    border: black;
    border-radius: 15px;
}

#addEvent {
    width: 30%;
    margin-left: 35%;
    box-shadow: 0 0;
    margin-bottom: 20px;
    margin-top: 5%;
}

label, select, input {
    display: block;
    padding: 5px;
    margin-left: 10%;
    margin-top: 10px;
}

.deleteButtons {
    float: right;
    display: inline;
    height: auto;
    width: 50px;
    box-shadow: 0 0;
    margin: 0px;
    padding: 0px;
}

.eventInfo {
    float: left;
    display: inline;
    padding: 0;
    margin: 0;
}

.singleEvent {
    display: block;
    width: 100%;
    height: 30px;
    justify-content: left;
}

#formTitle {
    font-size: 1.3em;
    display: inline;
    width: 100%;
    overflow: hidden;
    padding: 20px;
    margin-top: 30px;
}

