
.faqContainer {
    margin: 5em 8em;
    height: auto;
    background-color: silver;
}

.faqTitle {
    list-style: none;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

.faqTrigger {
    font-weight: bold;
}

.faqItems {
    height: 100%;
    width: 90%;
    vertical-align: middle;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    backface-visibility: hidden;
}

.faqGroup {
    padding-top: 0.5em;
}
