/* MAIN CSS for all web pages*/

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
}

.logo {
    padding-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: auto;
}

/*Heading in green*/
#heading {
    color: #3fd923;
    text-align: center;
}

/*Heading in black*/
#heading2 {
    color: black;
    text-align: center;
}

h4 {
    text-align: center;
}

/*Textbox padding for createAccount and signIn page*/
form{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 0.5em;
}

.textbox {
    margin-top: 1em;
    padding: 0.3em 0 0.3em 0;
    border: 0.1em solid;
    width:210px;
}

/* User Information */
input[type=checkbox]:checked   {
    background: #327DFF;
    outline: none;
    border: 1px solid rgba(50,125,255,1);
}
input:focus,input:active {
    outline: none;
}

input:hover {
    border: 1px solid rgba(50,125,255,1);
}
/* User Information END */

/* Navigation */
.navbar {
    background-color:#c0c0c0;
    /*overflow: auto;*/
    /*height: auto;*/
}

#navbar-nav {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    width: 100%;
    align-items: center;
}

.navbar a {
  float: left;
  color: black;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar ul {
    margin: 0;
    list-style: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: #3fd923;
}

#navbar-nav > li:nth-child(1) { justify-self: start }
#navbar-nav > li:nth-child(3) { justify-self: end }

button{
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    transition: all 0.2s;
}

button:hover{
    color: #FFFFFF;
    background-color: #22d40f;
    opacity: 0.8;
}

#backBtn{
    padding: 0.6em 1em;
    border: 0.1em solid #FFFFFF;
    margin: 0 0 0 1em;
    border-radius: 1em;
}

/* Navigation END */




/* Footer */
#footerContainer{
    position: static;
    width: auto;
    padding-top: 1em;
    background-color: #c0c0c0;
    text-align: center;
    height: 3em;
}

/* Footer End */


/*
  form {
    position: absolute;
    right: 10px;
    top: 10px;
  }

  input {
    margin: 0 7px;
  }
*/