/* MAIN CSS for all web pages*/

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    background-color: #ebfff4;
}

.logo {
    padding-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: auto;
}

/*Heading in green*/
#heading {
    color: #3fd923;
    text-align: center;
}

/*Heading in black*/
#heading2 {
    color: black;
    text-align: center;
}

h4 {
    text-align: center;
}

/*Textbox padding for createAccount and signIn page*/
form{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 0.5em;
}

.logInSection{
    z-index: 5;
    font-size: 2em;
    padding: 2em;
}

.textbox {
    margin-top: 1em;
    padding: 0.3em 0 0.3em 0;
    border: 0.1em solid;
    width:210px;
}

/* User Information */
input[type=checkbox]:checked   {
    background: #327DFF;
    outline: none;
    border: 1px solid rgba(50,125,255,1);
}
input:focus,input:active {
    outline: none;
}

input:hover {
    border: 1.3px solid rgba(50,125,255,1);
}
/* User Information END */

/* Navigation */
.navbar {
    width: 100%;
    top: 0;
    overflow: hidden;
    background-color: #00c95b;
    position: -webkit-sticky;
    position: fixed;
    z-index: 9;
}

#navbar-nav {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}

.navbar a {
  float: left;
  color: black;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar ul {
    margin: 0;
    list-style: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: #3fd923;
}

#navbar-nav > li:nth-child(1) { justify-self: start }
#navbar-nav > li:nth-child(3) { justify-self: end }

#navbar-nav > li:nth-child(3) { padding-right: 5px; }

button{
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    transition: all 0.2s;
}

button:hover{
    color: #FFFFFF;
    background-color: #22d40f;
    opacity: 0.8;
}

#backBtn{
    padding: 0.6em 1em;
    border: 0.1em solid #FFFFFF;
    margin: 0 0 0 1em;
    border-radius: 1em;
}

/* Navigation END */

/* Footer */
#footerContainer {
    position: relative;
    width: 100%;
    padding-top: 1em;
    text-align: center;
    height: 3em;
    bottom: 0;
    background-color: #00c95b;
}

#errorDisplay {
    color: #ff0000;
    text-align: center;
    font-weight: bold;
}