/*CSS for results.html*/

html, body{
    margin: 0;
}

/* BUTTONS*/
#redoBtn{
    padding: 0.6em 1em;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.5em 0 0;
    border-radius: 1em;
}

#addEventBtn{
    padding: 0.6em 3em;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.5em 0 0;
}

#faqButton{
    float: right;
    padding: 0.6em 2em;
    margin-right: 1em;
    border: 0.1em solid #FFFFFF;
}

.bold{
    font-weight: 900;
}

.center{
    text-align:center;
}

/*CSS for borders with text*/

#align {
    margin: auto;
    width: 55%;
}

.move {
    transition: margin-left 0.5s;
    padding: 1.25em 0 0 0;
    overflow: hidden;
    width: 100%;
}

#customised{
    background-color:#c0c0c0;
    padding: 0.01em;
}

article {
    display: block;
    border: 0.2em solid #c0c0c0;
    font-size:14px;
}

#chartBorder{
    border: 0.2em solid #c0c0c0;
    max-width:70%;
    margin: 90px auto;
    padding-top: 0;
}

#recommendationsBorder{
    border: 0.2em solid #c0c0c0;
    max-width:70%;
    margin: 20px auto;
    margin-bottom: 80px;
}

#recommendationsBorder:after {
    content: "";
    display: block;
    margin-bottom:20px;
}

#contentForRecommendations {
    position: relative;
    width: 100%;
    height: 100%;
    padding-left: 15px;
}

footer {
    background-color: #c0c0c0;
    text-align: center;
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

#total {
    text-align: center;
    font-size: 3em;
    font-weight: bold;
}