body, html {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  margin: 0;
}

body {
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  border: 0;
}

/*CSS for index.html and createAccount.html*/

/*Heading in green*/
#heading {
  color: #3fd923;
  text-align: center;
}

/*Heading in black*/
#heading2 {
  color: black;
  text-align: center;
}

h4 {
  text-align: center;
}

#specificSize{
    text-align: center;
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

/*Textbox padding*/
.textbox {
  border: 2px solid;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 5px;
  display: block;
  margin: auto;
  width:210px;
}

/* Checkbox (container) */
.checkbox{
	-webkit-appearance:none;
    width: 14px;
    height: 14px;
    display: inline-block;
    background: #FFFFFF;
	  border: 1px solid black;
}
.checkbox:after {
  content: "";
  display: inline-block;
  position: relative;
  top: -3px;
  left: 4px;
  width: 3px;
  height: 5px;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  -webkit-transform: rotate(45deg);
}

input[type=checkbox]:checked   {
    background: #327DFF;
    outline: none;
    border: 1px solid rgba(50,125,255,1);
}
input:focus,input:active {
	outline: none;
}

input:hover {
   border: 1px solid rgba(50,125,255,1);
}

/*Buttons*/


/*In progress*/

#headerButton{
  position:relative;
  float: left;
  width:220px;
  font-size: 16px;
  color:black;
  background-color: white;
  box-shadow: 4px 4px #737373;
  /*text-shadow: 0.2px 0.2px 0.2px #000;*/
  border: 2px solid;
}

#backButton {
    /*position: relative;*/
    /*padding: 8px 16px;*/
    border: 0;
    width:50px;
    font-size: 16px;
    box-shadow: 0 0;
    background-color: transparent;
}



.greenButton{
  color:white;
  background-color: green;
  border: 2px solid black;
}

button {
    display: block;
    margin: auto;
    width:220px;
    font-size: 16px;
    color:black;
    background-color: white;
    padding-bottom: 5px;
    padding-top: 5px;
    box-shadow: 4px 4px #737373;
    /*text-shadow: 0.2px 0.2px 0.2px #000;*/
    border: 2px solid;
}

button:hover {
    background-color: #3fd923;
}

button:active{
  box-shadow: inset -2px -2px 3px #808080,
                inset 2px 2px 3px #808080;
}

footer {
  padding: 20px;
}

.logo {
    padding-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: auto;
}

/*
a:active {
  color: yellow;
}
*/

.link:hover {
  color: #3fd923;
}

a {
  color: #00a4e6;
}

/*Help tip Question mark*/

.help-tip{

    margin: auto;
/*
    position: relative;
    top: -26px;
    right: 18px;*/
    text-align: center;
    background-color: #00a4e6;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    font-size: 14px;
    line-height: 26px;
    cursor: default;
}

.help-tip:before{
    content:'?';
    font-weight: bold;
    color:#fff;
}

.help-tip:hover p{
    display:block;
    transform-origin: 100% 0%;

    -webkit-animation: fadeIn 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out;

}

.help-tip p{    /* The tooltip */
    display: none;
    text-align: left;
    background-color: #1E2021;
    padding: 20px;
    width: 300px;
    position: absolute;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    right: -4px;
    color: #FFF;
    font-size: 13px;
    line-height: 1.4;
}

.help-tip p:before{ /* The pointer of the tooltip */
    position: absolute;
    content: '';
    width:0;
    height: 0;
    border:6px solid transparent;
    border-bottom-color:#1E2021;
    right:10px;
    top:-12px;
}

.help-tip p:after{ /* Prevents the tooltip from being hidden */
    width:100%;
    height:40px;
    content:'';
    position: absolute;
    top:-40px;
    left:0;
}

/* CSS animation */

@-webkit-keyframes fadeIn {
    0% {
        opacity:0;
        transform: scale(0.6);
    }

    100% {
        opacity:100%;
        transform: scale(1);
    }
}

@keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:100%; }
}

/*End of CSS for index.html and createAccount.html*/

/*CSS for results.html*/

.bold{
  font-weight: 900;
}

.center{
  text-align:center;
}

/*CSS for borders with text*/

#align {
  margin: auto;
  width: 60%;
  padding: 10px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.move {
  transition: margin-left 0.5s;
  padding: 20px;
  overflow: hidden;
  width: 100%;
}

#customised{
  background-color:#c0c0c0;
  padding: 0.01em;
}

article {
  display: block;
  border: 5px solid #c0c0c0;
  font-size:14px;
}

#recommendations{
  margin: auto;
  width: 60%;
  padding: 10px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  display: block;
  border: 5px solid #c0c0c0;
  font-size:14px;
  overflow:auto;
  max-height: 100px;
  outline: 10px black;
}

/*Footer*/

#customisedFooter{
  width: 100%;
  background-color: #c0c0c0;
  text-align: center;
  position: absolute;
  bottom: 0;
  height: 30px;
  margin: 0 auto;
}

/*Navigation bar*/

#navbar-nav {
  padding: 0;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  width: 100%;
  align-items: center;
}

#navbar-nav > li:nth-child(1) { justify-self: start }
#navbar-nav > li:nth-child(3) { justify-self: end }

.navbar {
  background-color:#c0c0c0;
  overflow: auto;
  height: auto;
  padding: 0px 0px 0px 0px;
}

/* .navbar a {
  float: left;
  color: black;
  padding: 14px 16px;
  text-decoration: none;
} */

.navbar ul {
  margin: 0px 0 0 0;
  list-style: none;
}

.navbar a:hover {
  background-color: #ddd;
  color: #3fd923;
}

/* @media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
} */

/*Pie chart*/
/*
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: auto;
    position: relative;
    width: 960px;
  }

  text {
    font: 10px sans-serif;
  }
  */




/*
  form {
    position: absolute;
    right: 10px;
    top: 10px;
  }

  input {
    margin: 0 7px;
  }
*/
